<% if @user %>

    <div class="media ">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object search_user_img" src="img/rsz_1johnny_bravo_by_freevil.jpg" alt="..." height="55px" width="55px">
        </a>
      </div>
      <div class="media-body">
        <div class="media-heading user_name">
          <span><%= @user[:name].humanize %> </span>
        </div>
      </div>
    </div>

    <div class="invites_user_desc"><%= @user[:name].humanize %> gets:</div>

    <div class="curators_item">
         <div class="curators_text"> <input id= "no_of_codes" type="text" value="<%= @user[:no_of_codes]%>" style="width:30px;"> new codes(s) every</div>
         <div class="curators_text"> <input id= "code_frequency" type="text" value= '<%= @user[:code_frequency]%>'style="width:30px;"> month(s).</div>
    </div>


    <div class="save_changes">
       <button type="button" class="btn btn-default btn_save_changes " onclick='save_details(<%= @user[:id]%>);' >SAVE CHANGES</button>
    </div>


<% end %>


<script type="text/javascript">
function save_details(id){
    var no_of_codes = document.getElementById( "no_of_codes" ).value;
    var code_frequency = document.getElementById( "code_frequency" ).value;
    url = '/users/update_curator_details'
       $.ajax({
		url:url,
		type:'get',
		data : {no_of_codes: no_of_codes,code_frequency: code_frequency,user_id: id},
		success:function (data) {
		    {
		    	alert("updated!");
   		    }
		}
	    });
   }
</script>
