<% if @user %>
<input type="hidden" name="user_id" id="hidden_user_id" value="<%= @user[:profile][:id] %>">
   	<div class="media" >
		 <div class="media-left media-middle">
		    <img class="media-object search_user_img" src="<%=  @user[:profile][:profile_pic] %>"  alt="..." height="55px" width="55px">
		 </div>
		<div class="media-body">
			  <div class="media-heading user_name_s">
			    		<%= @user[:profile][:name].humanize  %></br> <div title= <%= @user[:profile][:working_at]%>> Working at  <%= @user[:profile][:working_at].truncate(22)  %></div>
			     	     <div  class="pull-right">
					<% src = @user[:profile][:favorite] ? 'favorite.png' : 'non_favorite.png' %>
					<img class="user_star" src="assets/<%=src%>" alt="non_favorite.png", height="40px" >
				     </div>
			   </div>
		</div>
        	<div class="user_separator"></div>
      </div>

<div id='profile_details'>
<div class="mesa_description">Rate only the skills he used during the Mesa. 1 for poor 5 for excellent. Unrated means the skill wasn’t used during the Mesa.</div>

 <div class="user_skills">
	<% unless @user_rating[:skills].empty? %>
	 <div class="user_skills">
     		 <div class="user_rating_title">Skills:</div>
		<input type="hidden" id="hidden_skills_count" value="<%= @user_rating[:skills].count %>">
		<% @user_rating[:skills].each_with_index do |skill,i|  %>
	   		<input type="hidden" id="skills[<%= i %>]" value="<%= skill[:rating] %>_<%= skill[:id] %>">
		<% end %>
		<% @user_rating[:skills].each do |skill| %>
			<%= render :partial => "/users/star_rating", :locals => { :skill => skill, :rate => true  } %>
			<br>
		<% end %>
		<% remaining_skills = get_un_rated_skills(@user_rating[:skills], @user[:profile][:skills]) %>
		<% remaining_skills.each do |skill| %>
			<%= render :partial => "/users/star_rating", :locals => { :skill => skill, :rate => true  } %>
			<br>
		<% end %>
	</div>
	<% else %>
	 <div class="skill_title">Skills:</div>
		<% @user[:profile][:skills].each do |skill| %>
			<%= render :partial => "/users/star_rating", :locals => { :skill => skill, :rate => true  } %>
			<br>
		<% end %>
	</div>
      <% end %>
       <div class="user_separator"></div>

	

<div class="user_tags">
    <div class="user_tags_heading">Add tags to:</div>
	<% @user[:profile][:tags].each do |tag| %>
		<div class="user_tags_item"><%= tag[:name].truncate(25) %></div>
	<% end %>
</div>

<div style="clear: both;"></div>

<ul id="myTags">
<% unless @user_rating[:added_tags].empty? %>
 <% @user_rating[:added_tags].each do |tag| %>
	<li><%= tag[:name]  %></li>
 <% end %>
<% end %>
</ul>


<div class="user_skills">
	<div id='user_notes'>
	 <div class="skill_title">Notes:</div>
	 <% unless  @user_rating[:notes].empty? %>
			<%  @user_rating[:notes].each do |note| %>
				<% note = note[:note] %> 
				<textarea style="width: 308px; height: 125px;"><%= note %></textarea>
			<% end %>
	<% else %>
		<textarea style="width: 308px; height: 125px;"></textarea>	
	<% end %>
       </div>
</div>
<button  class="btn btn-default btn_save_changes" onclick="rate_user_detail(<%= @user[:profile][:id] %>);" style="float:right;">Submit</button>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#myTags").tagit();
    });

   function rate_user_detail(user_id){
	//get start rating values
	var radios = document.getElementsByTagName('input');
	star_values=[];
	for (var i = 0; i < radios.length; i++) {
	    
	    if (radios[i].type === 'radio' && radios[i].checked) {
		star_values.push(radios[i].value);     

	    }
	}
	//get added tags values
	 new_tags = [];
	 var li = document.getElementsByClassName("tagit-choice");
	 $(li).each(function(){
		new_tags.push($(this).find('span.tagit-label').text());
	 });
	//get notes
  	var notes = $( "div#user_notes" ).find( "textarea" ).val();
	//send values to update
	 var mesa_id = $('#hidden_mesa_id').val();
	 var user_id = $('#hidden_user_id').val();
	 var url = '/missions/rate_user_detail';
	    $.ajax({
		url:url,
		type:'get',
		data : {star_rating: star_values,new_tags: new_tags, notes: notes, mesa_id: mesa_id,user_id: user_id },
		success:function (data) {
		    {
		    	//$("#mesa_user_search_results").html(data).show();
			alert("Your rating has been saved");
			enable_prev_step('.fourth_col','.third_col');
   		    }
		}
	    });


   }
	 
</script>
