<% if @user %>
       <div class="media" style = "padding-top:15px;">
         <div class="media-left media-middle">
	    <img class="media-object search_user_img" src="<%=  @user[:profile][:profile_pic] %>"  alt="..." height="55px" width="55px">
	 </div>
        <div class="media-body">
          <div class="media-heading user_name_s">
            <%= @user[:profile][:name].humanize  %></br> Working at  <%= @user[:profile][:working_at]  %>
     	     <div  class="pull-right">
                <% src = @user[:profile][:favorite] ? 'favorite.png' : 'non_favorite.png' %>
                <img class="user_star" src="assets/<%=src%>" alt="non_favorite.png", height="40px" >
             </div>
	   </div>
        </div>
        <div class="user_separator"></div>
      </div>

     <% unless @user[:skills].empty? %>
	 <div class="user_skills">
     		 <div class="user_rating_title">Skills:</div>
		<input type="hidden" id="hidden_skills_count" value="<%= @user[:skills].count %>">
		<% @user[:skills].each_with_index do |skill,i|  %>
	   		<input type="hidden" id="skills[<%= i %>]" value="<%= skill[:rating] %>_<%= skill[:id] %>">
		<% end %>
		<% @user[:skills].each do |skill| %>
			<%= render :partial => "/users/star_rating", :locals => { :skill => skill, :rate => false } %>
			<br>
		<% end %>
	</div>
	 <div class="user_separator"></div>
     <% end %>

     <% unless @user[:notes].empty? %>
      <div class="user_skills" style="word-wrap: break-word;">
        <div class="skill_title">Notes:</div>
	<% @user[:notes].each do |note| %>
		<div class="skill_desc"><%= note[:note] %> <%if note[:by] %>  by <%= note[:by][:name] %>  <% end %> </div> <br>
	<% end %>
      </div>
	 <div class="user_separator"></div>
     <% end %>

      
     <% unless @user[:added_tags].empty? %>
        <div class="user_tags">
		<div class="user_tags_heading">Added Tags:</div>
	       <% @user[:added_tags].each do |tag| %>
			<div class="user_tags_item"><%= tag[:name].truncate(25)  %></div>
		<% end %>
        </div>
        <div class="user_separator"></div>
      <% end %>


    

<% end %>

