<% if @user %>
      <div class="media">
         <div class="media-left media-middle">
	    <img class="media-object search_user_img" src="<%=  @user[:profile][:profile_pic] %>"  alt="..." height="55px" width="55px">
	 </div>
        <div class="media-body">
          <div class="media-heading user_name_s">
            <%= @user[:profile][:name].humanize  %></br> Working at  <%= @user[:profile][:working_at].humanize  %>
          </div>
        </div>
        <div class="user_separator"></div>
      </div>

      <div class="user_skills">
        <div class="skill_title">Skills:</div>
	<%= @user[:profile][:skills] %>
      </div>
      <div class="user_separator"></div>

      <div class="user_tags">
        <div class="user_tags_heading">Tags:</div>
	<%= @user[:profile][:tags] %>
      </div>
      <div class="user_separator"></div>

      <div class="user_skills">
        <div class="skill_title">Passions:</div>
        <div class="skill_desc"><%= @user[:profile][:passions].humanize %></div><div class="user_separator"></div>
        <div class="skill_title">Languages:</div>
        <div class="skill_desc"><p><%= @user[:profile][:languages].humanize %></p></div>
        <div class="user_separator"></div>

      </div>

<% end %>




