<%= form_for @user,:url => "/users/create_unconcious_user", :html => {id: "create_user", multipart: true} do |f| %>
	<div class="second_col_header">
	      <div class="title_heading">
			<img src="/assets/back_butn.png"  class="hand_cursor" alt="back"  onclick="enable_prev_step('.third_col','.second_col');"/>Back
	      </div>
	      <div class="title_heading_sep"></div>
	</div>
	<div class="show_result">Create a new user by filling the below form :</div>

	  <div class="media">
        <div class="media-middle">
          <img class="media-object search_user_img" src="/assets/user.png" alt="..." id='new_user_img' height="55px" width="55px">
		  <a href="#" id="add_pro_pic"> Add Image </a>
        </div>
        <%= f.file_field 'profile_pic', id: 'user_pic', style: 'display:none' %>
	 </div>

	  <div class="user_separator"></div>
      <div class="input-group col-lg-12 margin-top15">
      	<label class="col-lg-12 no-padding">Name*
        	<%= f.text_field :name, :class => "form-control pass_text", :required => true %> 
        </label>
      </div>
       <div class="input-group col-lg-12 margin-top15">
      	<label class="col-lg-12 no-padding">Email*
        	<%= f.text_field :email, :class => "form-control pass_text", :type => 'email', :required => true %> 
        </label>
      </div>
      <div class="input-group col-lg-12 margin-top15">
      	<label class="col-lg-12 no-padding">Phone
        	<%= f.text_field :phone, :class => "form-control pass_text", :type => 'number' %> 
        </label>
      </div>
      
      <div class="input-group col-lg-12 margin-top15">
      	<label class="col-lg-12 no-padding">City
        	<%= f.text_field :city,  :class => "form-control pass_text" %> 
        </label>
      </div>

      <div class="input-group col-lg-12 margin-top15">
      	<label class="col-lg-12 no-padding">Working at
        	<%= f.text_field :working_at,  :class => "form-control pass_text" %> 
        </label>
      </div>

      <div class="input-group col-lg-12 margin-top15">
        <label class="col-lg-12 no-padding">Tags</label>
        <%= fields_for :tags do |tag_fields| %>
          <div class="input-group col-lg-12 margin-top15">
            <%= tag_fields.text_field :name, class: 'form-control pass_text col-lg-12', placeholder: '' %>
          </div>
        <% end %>
      </div>
      <div class="input-group col-lg-12 margin-top15">
      	<label class="col-lg-12 no-padding">Passions
        	<%= f.text_field :passions, :class => "form-control pass_text col-lg-12" %> 
        </label>
      </div>
      <div class="input-group col-lg-12 margin-top15">
      	<label class="col-lg-12 no-padding">Language
        	<%= f.text_field :languages, :class => "form-control pass_text col-lg-12" %> 
        </label>
      </div>
      <div class="input-group col-lg-12 margin-top15">
        <label id="skill_lbl_1" class="col-lg-12 no-padding hand_cursor" onclick = show_skill_set(1);>Skill set 1</label>	
		<div id="skill_1" class="skill_set">
			<%= fields_for :skills1 do |skill_fields| %>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :name, class: 'form-control pass_text col-lg-12', placeholder: 'Skill name' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :time_spent, class: 'form-control pass_text col-lg-12', placeholder: 'Time spent in years' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :company, class: 'form-control pass_text col-lg-12', placeholder: 'Company' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :founded, class: 'form-control pass_text col-lg-12', placeholder: 'Founded'%>
			  </div>
			   <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :work_ref, class: 'form-control pass_text col-lg-12', placeholder: 'Work ref'%>
			  </div>
			<% end %>
		</div>
      </div>
      <div class="input-group col-lg-12 margin-top15" >
        <label id="skill_lbl_2" class="col-lg-12 no-padding hand_cursor" onclick = show_skill_set(2);>Skill set 2</label>
        <div id="skill_2" class="skill_set" style= "display:none;">
			<%= fields_for :skills2 do |skill_fields| %>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :name, class: 'form-control pass_text col-lg-12', placeholder: 'Skill name' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :time_spent, class: 'form-control pass_text col-lg-12', placeholder: 'Time spent in years' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :company, class: 'form-control pass_text col-lg-12', placeholder: 'Company' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :founded, class: 'form-control pass_text col-lg-12', placeholder: 'Founded'%>
			  </div>
			   <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :work_ref, class: 'form-control pass_text col-lg-12', placeholder: 'Work ref'%>
			  </div>
			<% end %>
		</div>
      </div>
     <div class="input-group col-lg-12 margin-top15" >
        <label id="skill_lbl_3" class="col-lg-12 no-padding hand_cursor" onclick = show_skill_set(3);>Skill set 3</label>
        <div id="skill_3" class="skill_set" style= "display:none;">
			<%= fields_for :skills3 do |skill_fields| %>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :name, class: 'form-control pass_text col-lg-12', placeholder: 'Skill name' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :time_spent, class: 'form-control pass_text col-lg-12', placeholder: 'Time spent in years' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :company, class: 'form-control pass_text col-lg-12', placeholder: 'Company' %>
			  </div>
			  <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :founded, class: 'form-control pass_text col-lg-12', placeholder: 'Founded'%>
			  </div>
			   <div class="input-group col-lg-12 margin-top15">
			    <%= skill_fields.text_field :work_ref, class: 'form-control pass_text col-lg-12', placeholder: 'Work ref'%>
			  </div>
			<% end %>
	</div>
      </div>
      <div class=" margin-top25">
      	<%= f.submit "CREATE USER", :class => 'btn btn-default btn_clear', :id => "submit_btn", :name => "create_user_btn"%>
      </div>

<% end %>
  
<script>

$('#user_phone').on('keypress', function(e) {
   if ($('#user_phone').val().length > 14)
	{return false;}
   else
	{return true; }
});

$('#create_user input').on('keypress', function(e) {
    return e.which !== 13;
});

  $('#add_pro_pic').click(function(){
    console.log('click change_pro_pic');
    $('#user_pic').trigger('click');
  });

  $('#user_pic').change(function(){
    read_image_src(this);
  });

  function read_image_src(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#new_user_img').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $('#create_user').ajaxForm({
    success: function() {
      console.log('user image successfully uploaded')
    },
    complete: function(xhr) {
      $(".fourth_col").show();
      $("#user_col3").html(xhr.responseText);
      show_next_step(".third_col",".fourth_col");
      if (!(/Error/i.test(xhr.responseText)))
       {
         $('#create_user').trigger("reset");
       }
      $('#new_user_img').attr("src", "/assets/user.png");
    }
  });

 function show_skill_set(id) {
  $(".skill_set").hide();
  $("#skill_"+id).show();
  
 }
</script>
