<div id='user_primary_info_<%= user[:id] %>' >
	<img src="<%= user[:profile_pic] %>" style="width:20px;height:20px" /> 
	<p onclick="show_mesa_user_detail(<%= user[:id] %>);"><%= user[:name] %></p>
</div>
<input type="hidden" name="mesa_type" id="hidden_mesa_type" value="<%= mesa_type %>">
<script type="text/javascript">
    function show_mesa_user_detail(user_id){
     var mesa_type = $('#hidden_mesa_type').val();
     var mesa_id = $('#hidden_mesa_id').val();
     var url = '/get_user';
	    $.ajax({
		url:url,
		type:'get',
		data : {user_id: user_id,mesa_type: mesa_type, mesa_id: mesa_id },
		success:function (data) {
		    {
			$("#mesa_detail").hide();
		    	$("#user_detail").html(data).show();
			
		    }
		}
	    });
   }

</script>

