
			<% if  @curators%>
				<% unless @curators.empty? %>
				<div id= 'curators'>
					<div class="invites_user_desc">
      						These are all the network's curators. Click on the curator's Name to edit number and frequency of invitation codes they get.
    					</div>
					<ul>
					<%  @curators.each do |user| %>
						<li class="media">
						<div id='user_primary_info_<%= user[:id] %>' class="hand_cursor media opacity-05" onclick="show_curator_detail(<%= user[:id] %>);"">
						  <div class="media-left media-middle">
						    <img class="media-object search_user_img" src="<%= user[:profile_pic] %>"  alt="..." height="55px" width="55px">
						  </div>
						  <div class="media-body">
						    <div class="media-heading user_name_S">
						      <%= user[:name] %></br><span class="apercu-light"><%= user[:open_codes] %> open codes</span>
						      	<img src="assets/next.png" class="pull-right" alt="select user">
						    </div>
						  </div>
						</div>
						
						</li>	
					<% end %>
					<ul>
				</div>
				<% else %>
					<div class="invites_user_desc">
	      						These are no curators in network yet!
	    				</div>

				<% end %>
			<% end %>


<script type="text/javascript">
   
    function show_curator_detail(user_id){
     var url = '/users/get_curator_detail';
	    $.ajax({
		url:url,
		type:'get',
		data : {user_id: user_id },
		success:function (data) {
		    {
		    	$("#invite_col3").html(data);
			$(".fourth_col").show();
			show_next_step(".third_col",".fourth_col");
   		    }
		}
	    });

       
   }

</script>
