			<% if  @recent_users %>
				<div id= 'users_joind_by_you'>
					    <div class="invites_user_desc">
					      These are the people that joined the network recently:
					    </div>
					<ul>
					<%  @recent_users.each do |user| %>
						<li class="media">
						<div id='user_primary_info_<%= user[:id] %>' class="hand_cursor media opacity-05" onclick="show_recent_user_detail(<%= user[:id] %>);"">
						  <div class="media-left media-middle">
						    <img class="media-object search_user_img" src="<%= user[:profile_pic] %>"  alt="..." height="55px" width="55px">
						  </div>
						   <div class="media-body">
						    <div class="media-heading user_name_S">
						      <%= user[:name] %><br>
							<% if  user[:invited_by] %>through<span class="apercu-light"> <%= user[:invited_by] %></span><% end %>
						     	<img src="assets/next.png" class="pull-right" alt="select user" >
						    </div>
						  </div>
						</div>
						
						</li>	

					<% end %>
					<ul>
				</div>
			<% end %>

<script type="text/javascript">
   
    function show_recent_user_detail(user_id){
     var url = '/get_user';
	    $.ajax({
		url:url,
		type:'get',
		data : {user_id: user_id, mesa_type: 'open' },
		success:function (data) {
		    {
		    	$("#invite_col3").html(data);
			$(".fourth_col").show();
			show_next_step(".third_col",".fourth_col");

   		    }
		}
	    });

       
   }

</script>
