			<div id= "code_list">
				 <%= render partial: '/invitations/code_list' %>
			</div>
		       <button type="button" class="btn btn-default btn_save_changes " onclick="generate_code();">Generate Code</button>
			<% unless @users_joined_by_you.empty? %>
				<div id= 'users_joind_by_you'>
					<div class="invites_user_desc">People that joined the network through your code:</div>
					<ul>
					<% @users_joined_by_you.each do |user| %>
						<li class="media">
						<div id='user_primary_info_<%= user[:id] %>' class="hand_cursor media opacity-05" onclick="show_connected_user_detail(<%= user[:id] %>);">
						  <div class="media-left media-middle">
						    <img class="media-object search_user_img" src="<%= user[:profile_pic] %>"  alt="..." height="55px" width="55px">
						  </div>
						   <div class="media-body">
						    <div class="media-heading user_name">
						      <span><%= user[:name] %></span>
						     	<img src="assets/next.png" class="pull-right" alt="select user" >
						    </div>
						  </div>
						</div>
						
						</li>	
						
					<% end %>
					<ul>
				</div>
			<% end %>

<script type="text/javascript">

    
    function generate_code(){
        
     var url = '/invitations/generate_code';
	    $.ajax({
		url:url,
		type:'get',
		success:function (data) {
		    {
		    	$("#code_list").html(data);
			//$(".fourth_col").show();
			//show_next_step(".third_col",".fourth_col");
   		    }
		}
	    });

       
   }
   
    function show_connected_user_detail(user_id){
     var url = '/get_user';
	    $.ajax({
		url:url,
		type:'get',
		data : {user_id: user_id, mesa_type: 'open' },
		success:function (data) {
		    {
		    	$("#invite_col3").html(data);
			$(".fourth_col").show();
			show_next_step(".third_col",".fourth_col");
   		    }
		}
	    });

       
   }

</script>
