<% unless @users_array.empty? %>

<div id="chair_list_div" class="chair_list_div" style="display:none;">
</div>
<div class="searched_user_title"> Search User:</div>
<% @users_array.each do |user|%>
		<%= render :partial => "/users/user_primary_details", :locals => { :user => user, :mesa_type => 'open', :search_type => 'chair'  } %>
		<%  chair = user_is_already_assigned_chair(user[:id], @mesa_id ) %>
		<% if chair %>
			<div style="float:right;padding-top:30px;">	
				<span id="chair_user_<%= user[:id] %>" onclick="add_to_chair(<%= user[:id] %>,<%= @mesa_id %>);" > <img src="assets/next.png" > </span>
				<span id="chair_list_user_<%= user[:id] %>" onclick="show_chair_list(<%= @mesa_id %>,<%= user[:id] %>);"> <img src="assets/next.png" > </span>
			</div>
		<% end %>
<% end %>

<% else %>
	<div id='no_result_found'>
 		<p> There’s no profile that matches your search request. You can ask the Mesa team for help finding the right person. </p>
		<button style = "margin: 20px 0px;" class="btn btn-default btn_clear" onclick="get_help_from_mesa(<%= @mesa_id %>);">Get help from Mesa</button>
	</div>
	<div id ='no_result_found_notification' style = "display:none'" >
	</div>
<% end %>



<script type="text/javascript">

    
  function add_to_chair(user_id,mesa_id){
    var first_available_chair = $('#mesa_chairs li:not(.chair_occupied):first');
	     if (first_available_chair.attr('id') == undefined )
		     {
			     alert("No Empty chair found!");
	             }
	     else
		     { 
			var chair_id = $(first_available_chair).attr('id').split("chair_")[1];
		        var url = '/missions/add_to_chair';
			    $.ajax({
				url:url,
				type:'get',
				data : {user_id: user_id,chair_id: chair_id },
				success:function (data) {
				    {
					first_available_chair.removeClass("chair_empty").addClass("chair_occupied");
					first_available_chair = first_available_chair.find('#chair_user_div_'+chair_id);
					var user_primary_info = $("#user_primary_info_"+user_id).clone();
					first_available_chair.append(user_primary_info);
					first_available_chair.append('<div id= "empty_chair'+chair_id+'_'+user_id+'" onclick= "empty_chair('+chair_id+','+user_id+' )" class = "user_chair_info empty_lbl" >Remove User</div>');
					$("#chair_user_"+user_id).hide();
					$("#chair_list_user_"+user_id).hide();
					first_available_chair.find(".expandable").show();
		   		    }
				}
			    });

		     }

       
   }


   function show_chair_list(mesa_id,user_id){
    var url = '/missions/get_mission_chairs';
			    $.ajax({
				url:url,
				type:'get',
				data : {mesa_id: mesa_id,user_id: user_id},
				success:function (data) {
				    { 
					//$('#hidden_chair_user_id').val(user_id);
					$('.chair_list_div').html(data).toggle();
		   		    }
				}
			    });
        
   }

  function get_help_from_mesa(mesa_id){
    search_strings = [];
    var li = document.getElementsByClassName("tagit-choice");
    $(li).each(function(){
	search_strings.push($(this).find('span.tagit-label').text());
    });
     var url = '/missions/get_help_from_mesa';
	    $.ajax({
		url:url,
		type:'get',
		data : {search_keys: search_strings,mesa_id: mesa_id },
		success:function (data) {
		    {
			if (data == undefined || data == "empty string")
			{
			 alert("Cant searh empty string");
			}
			else
			{
			 $("#no_result_found_notification").html("<p>Mesa received your help request to find an"+ data +". They’ll get in touch soon.</p>").show();
			}
			
   		    }
		}
	    });

       
   }

</script>

