<% unless @users_array.empty? %>
	<div class="searched_user_title"> Search Results:</div>
	<% @users_array.each do |user|%>
		<div id='user_primary_info_<%= user[:id] %>' class="hand_cursor media opacity-05" onclick="show_searched_user_detail(<%= user[:id] %>);">
					  <div class="media-left media-middle">
					    <img class="media-object search_user_img" src="<%= user[:profile_pic] %>"  alt="..." height="55px" width="55px">
					  </div>
					  <div class="media-body">
					    <div class="media-heading user_name">
					      <span><%= user[:name] %></span> 
						<%if can? :delete_inactive_users, user%>
							<% if current_user.role? == ROLE_ADMIN || current_user.role? == ROLE_MASTER  %>
								<% if inactive_user(user[:id]) %>
									<img src="assets/delete_icon.png" class="pull-right hand_cursor" onclick="delete_user(<%= user[:id] %>,event);" alt="delete user" >
								<% end %>
							<% elsif current_user.role? == ROLE_LEADER %>
								<% if inactive_user(user[:id]) && user[:created_by] == current_user.id %>
									<img src="assets/delete_icon.png" class="pull-right hand_cursor" onclick="delete_user(<%= user[:id] %>,event);" alt="delete user" >
								<% end %>
						    	<% else %>
							<% end %>
							
					      <% end %>
					      <img src="assets/next.png" class="pull-right" alt="select user">
					    </div>
					  </div>
		</div>
	<% end %>
<% else %>
 	<p> No result found </p>
<% end %>

<script type="text/javascript">
    function show_searched_user_detail(user_id){
     var url = '/get_user';
	    $.ajax({
		url:url,
		type:'get',
		data : {user_id: user_id },
		success:function (data) {
		    {
		    	$(".user_details_col").html(data).show();
			show_next_step(".second_col",".third_col");
   		    }
		}
	    });

       
   }


</script>

