<% if @mission_chairs %>
	<p> Select chair for <%= @chair_user[:name] %> <p>
	<input type="hidden" name="chair_user_id" id="hidden_chair_user_id" value="<%= @chair_user[:id] %>" >
	<% @mission_chairs.each do |chair|%>
		<input id="radio_<%=chair[:id] %>" type="radio" name="chair" value="<%= chair[:id] %>" > <%= chair[:title] %> <br>
	<% end %>
	<button id = "add_to_chair_btn" onclick="add_to_chair_list();" class="btn btn-default" style="margin_top:10px;" disabled='disabled'>Add to chair</button>
<%end%>

<script type="text/javascript">
   
    $(document).ready(function() {
	    $('input[name=chair]').click(function() {
		var checkval = $('input[name=chair]:checked').val();
		if(checkval){
				$('#add_to_chair_btn').removeAttr('disabled');
			    } else {
				$('#add_to_chair_btn').attr('disabled', 'disabled');
			    }
	    });
    });
   
    function add_to_chair_list(){
	 var chair_id = $('input[name=chair]:checked').val();
	 var user_id = $('#hidden_chair_user_id').val();
	 var selected_chair = $('#chair_user_div_'+chair_id);
         var url = '/missions/add_to_chair';
			    $.ajax({
				url:url,
				type:'get',
				data : {user_id: user_id,chair_id: chair_id },
				success:function (data) {
				    {
					$("#chair_list_div").hide();
					var user_primary_info = $("#user_primary_info_"+user_id).clone();
					selected_chair.append(user_primary_info);
					selected_chair.append('<div id= "empty_chair'+chair_id+'_'+user_id+'"  onclick="empty_chair('+chair_id+','+user_id+');" class = "user_chair_info empty_lbl" >Remove User</div>');
					$("#chair_"+ chair_id).removeClass("chair_empty").addClass("chair_occupied");
					$("#chair_user_"+user_id).hide();
					$("#chair_list_user_"+user_id).hide();
					selected_chair.find(".expandable").show();
		   		    }
				}
			    });

       
   }



</script>
