<div id ="mesa_col2_1" class="border col-xs-3 hrLineRightGrey third_col scrollbar">
    <div class="second_col_header">
      <div class="title_heading"><img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="enable_prev_step('.third_col','.second_col');" /> Back </div>
      <div class="title_heading_sep"></div>
    </div>
    <input type="hidden" name="mesa_id" id="hidden_mesa_id" value="<%=  @mission_details[:id] %>">
    <div class="mesa_details" >
	<div id='mesa_primary_info' >
	      <div class="mesa_item">
		<div class="mesa_title">Mesa:</div>
		<div class="mesa_name"><%= @mission_details[:title] %></div>
	      </div>
	      <div class="mesa_leader" style="float:left;width:80%">
		<div class="leader_title">Leader: </div>
		<div class="leader_name"><%= @mission_leader[:name]%></div>
	      </div>
	      <div style="float:right;width:8%">
		<img src="/assets/next.png" class="hand_cursor" alt="next" onclick="show_last_col('#mesa_detail');">
	      </div>
	</div>

	<div class="mesa_description" style="margin: 45px 0px;">You can rate skills, add tags and general observations to each participant. </div>

	<% unless @mission_users.empty? %>
		<ul>
		<% @mission_users.each do |user|%>
			<%= render :partial => "/users/user_primary_details", :locals => { :user => user, :mesa_type => 'underprogress', :search_type => 'default' } %>
		<% end %>
		</ul>
		<button onclick="close_mesa(<%= @mission_details[:id] %>);" class="btn btn-default btn_save_changes" style ="margin: 20px 0px;"  >Close Mesa</button>
	<% end %>
   </div>
</div>

<div id ="mesa_col2_2" class="border col-xs-3 fourth_col scrollbar" style="display:none;">
       	<div class="second_col_header">
      		 <div class="title_heading"><img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="enable_prev_step('.fourth_col','.third_col');" /> Back </div>
      		<div class="title_heading_sep"></div>
       </div>

	<div id='mesa_detail' style="display:none;" class="mesa_details"> 
		<%= render :partial => "mission_details", :locals => { :mission_details => @mission_details } %>
	</div>
	<div id='user_detail' style="display:none; word-wrap: break-word;"> 
	</div>
	
</div>	
<script type="text/javascript">

$(document).ready(function(){
    $(".scrollbar").mCustomScrollbar({
      theme:"minimal-dark"
    });
  });
function close_mesa(mesa_id){
     
      var url = '/missions/close_mesa';
	    $.ajax({
		url:url,
		type:'get',
		data : {mesa_id: mesa_id },
		success:function (data) {
		    { 	
			//$("#mesa_all_chairs").html(data);
			$("#mesa_col1").html(data);
			 var url = '/missions/show_closed_mesa_detail';
			    $.ajax({
				url:url,
				type:'get',
				data : {id: mesa_id },
				success:function (data) {
				    { 	
					$("#mesa_col2").html(data);
					$(".third_col").show();
				    }
				}
			    });
   		    }
		}
	    });

       
   }
</script>
