 <!--start first column-->
    <div class="border col-xs-3 first_col">
      <div class="first_column_header">
        <div class="logo"></div><div class="logo_text">Mesa & Cadeira </div>
      </div>
      <div class="user_box">
        <div class="user_title">
          <span>Kiko Shteinhoff</span>
        </div>
        <div class="user_image">
          <%= image_tag src='user.png', class: 'user_avatar_img', alt: 'user'  %>
          <div class="change_image">
            <a href="#">Change picture</a>
          </div>
        </div>
      </div>
      <div class="user_ctrl_buttons">
        <ul>
          <li>
            <%= link_to 'Search', searches_path, :class => "btn btn-default btn-admin #{get_selected('/searches')}"%>
          </li>
          <li>
            <%= link_to 'Add & Admin Users', users_path, :class => "btn btn-default btn-admin #{get_selected('/users')}"%>
          </li>
          <li>
            <%= link_to 'Create Mission', '/missions/create_mission', :class => "btn btn-default btn-admin #{get_selected('/missions/create_mission')}"%>
          </li>
          <li>
            <%= link_to 'Admin Messa', missions_path, :class => "btn btn-default btn-admin #{get_selected('/missions')}"%>
          </li>
          <li>
            <%= link_to 'Invites', invitations_path, :class => "btn btn-default btn-admin #{get_selected('/invitations')}"%>
          </li>
          <li>
            <%= button_to 'Logout', destroy_user_session_path, :class => 'btn btn-default btn-admin ', :method => :delete%>
          </li>
        </ul>
      </div>
    <!-- first Column end -->



