<% if user_signed_in? %>
 <!--start first column-->
    <div class="border col-xs-3 first_col no-padding">
      <div class="first_column_header" id="mesa_n_cadeira">
        <div class="logo col-lg-2 col-md-2 col-sm-2 no-padding">
          <%= image_tag src= 'logo.jpg', class: 'logo_img col-lg-12 col-md-12 col-sm-12 no-padding' %>
        </div>
        <div class="logo_text col-lg-10 col-md-10 col-sm-10 ">Mesa & Cadeira </div>
      </div>
      <div class="user_box">
        <div class="user_title">
          <span><%= current_user.name.to_s.titleize %></span>
        </div>
        <div class="user_image">
          <% user_img = get_user_img %>
          <%= image_tag src= user_img, class: 'user_avatar_img', alt: 'user'  %>
          <div class="change_image">
              <a href="#" id="change_pro_pic">Change picture</a>
              <%= form_tag '/change_profile_pic', method: :post, remote: true, multipart: true, id: 'post_pic', onsubmit: false do %>
                <%= hidden_field_tag 'user_id', current_user.id %>
                <%= hidden_field_tag 'admin_pic', true %>
                <%= file_field_tag 'profile_pic', id: 'profile_pic1', style: 'display:none' %>
              <% end %>
          </div>
        </div>
      </div>
      <div class="user_ctrl_buttons">
        <ul>
          <li>
            <%= link_to 'Search', searches_path, :class => "btn btn-default btn-admin #{get_selected('/searches')}"%>
          </li>
          <li>
            <%= link_to 'Add & Admin Users', users_path, :class => "btn btn-default btn-admin #{get_selected('/users')}"%>
          </li>
          <li>
            <%= link_to 'Create Mission', '/missions/create_mission', :class => "btn btn-default btn-admin #{get_selected('/missions/create_mission')}"%>
          </li>
          <li>
            <%= link_to 'Admin Mesas', missions_path, :class => "btn btn-default btn-admin #{get_selected('/missions')}"%>
          </li>
          <li>
            <%= link_to 'Invites', invitations_path, :class => "btn btn-default btn-admin #{get_selected('/invitations')}"%>
          </li>
          <li>
            <%= button_to 'Log out', destroy_user_session_path, :class => 'btn btn-default btn-admin ', :method => :delete%>

          </li>
        </ul>
      </div>
    <!-- first Column end -->
<% end %>
<script>
  $('#change_pro_pic').click(function(){
    $('#profile_pic1').trigger('click');
  });

  $('#profile_pic1').change(function(){
    var input = $('#profile_pic1')[0];
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('.user_avatar_img').attr('src',  e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
    $('#post_pic').submit();
  });
  $('#mesa_n_cadeira').click(function(){
    window.location.href = '/';
  });

  $('#post_pic').ajaxForm({
    success: function() {
      console.log('user image successfully uploaded')
    },
    complete: function(xhr) {
      $('.user_avatar_img').attr('src', xhr.responseText)
    }
  });

  $(document).ready(function(){
    $(".scrollbar").mCustomScrollbar({
      theme:"minimal-dark"
    });
  });

</script>


