 <!--start first column-->
    <div class="border col-xs-3 first_col">
      <div class="first_column_header" id="mesa_n_cadeira">
        <div class="logo"></div><div class="logo_text">Mesa & Cadeira </div>
      </div>
      <div class="user_box">
        <div class="user_title">
          <span>Kiko Shteinhoff</span>
        </div>
        <div class="user_image">
          <% user_img = get_user_img %>
          <%= image_tag src= user_img, class: 'user_avatar_img', alt: 'user'  %>
          <div class="change_image">
            <% if params['controller'] == 'welcome'%>
              <a href="#" id="change_pro_pic">Change picture</a>
              <%= form_tag '/change_profile_pic', method: :post, remote: true, multipart: true, id: 'post_pic', onsubmit: false do %>
                <%= hidden_field_tag 'user_id', @current_user.id %>
                <%= hidden_field_tag 'admin_pic', true %>
                <%= file_field_tag 'profile_pic', id: 'profile_pic1', style: 'display:none' %>
              <% end %>
            <% end -%>

          </div>
        </div>
      </div>
      <div class="user_ctrl_buttons">
        <ul>
          <li>
            <%= link_to 'Search', searches_path, :class => "btn btn-default btn-admin #{get_selected('/searches')}"%>
          </li>
          <li>
            <%= link_to 'Add & Admin Users', users_path, :class => "btn btn-default btn-admin #{get_selected('/users')}"%>
          </li>
          <li>
            <%= link_to 'Create Mission', '/missions/create_mission', :class => "btn btn-default btn-admin #{get_selected('/missions/create_mission')}"%>
          </li>
          <li>
            <%= link_to 'Admin Messa', missions_path, :class => "btn btn-default btn-admin #{get_selected('/missions')}"%>
          </li>
          <li>
            <%= link_to 'Invites', invitations_path, :class => "btn btn-default btn-admin #{get_selected('/invitations')}"%>
          </li>
          <li>
            <%= button_to 'Logout', destroy_user_session_path, :class => 'btn btn-default btn-admin ', :method => :delete%>
          </li>
        </ul>
      </div>
    <!-- first Column end -->

<script>
  $('#change_pro_pic').click(function(){
    console.log('click change_pro_pic');
    $('#profile_pic1').trigger('click');
  });

  $('#profile_pic1').change(function(){
    console.log($('#profile_pic1').val());
    $('#post_pic').submit();
  });
  $('#mesa_n_cadeira').click(function(){
    window.location.href = '/';
  });
</script>

