<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mesa & Cadeira</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application" %>
  </head>
  <body>
	<div>
		<div class="row" style="width: 100%; height: 100%;">
		    <% if alert %>
		      <div class="alert-box warning radius">
			<%= alert %>
			<%= link_to 'x', '#', class: 'close', onclick: '$(".alert-box").hide();' %>
		      </div>
		    <% end %>
		    <% if notice %>
		      <div class="alert-box success radius">
			    <%= notice %>
			    <%= link_to 'x', '#', class: 'close', onclick: '$(".alert-box").hide();' %>
		      </div>
		     <% end %>
		     <% if user_signed_in? %>
			 <%= render partial: '/layouts/sidebar/layout_sidebar' %>
		     <% end %>
		   
		</div>
		<%= yield %>
	</div>
 </body>
</html>
